@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Raleway;
    font-size: 40px;
    font-weight: 700;
    line-height: 47px;
    letter-spacing: 0em;
    text-align: left;
    background: linear-gradient(180deg, #C8E6C9 0%, rgba(200, 230, 201, 0) 63.54%, rgba(200, 230, 201, 0) 87.5%, rgba(200, 230, 201, 0) 100%);;
    height: 2000x;
}

header .logo {
    background-color: #388E3c;
    text-align: left;
}

header .menu {
    Text-align: center;
    display: flex;
    justify-content: end; 
}

header .menu ul {
    margin: -65px 55px;
    list-style: none;
}

header .menu ul li {
    display: inline-block;
    padding: 10px 15px;
    font-family: Raleway;
    font-size: 12px;
    font-weight: 700;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;

}

header .menu ul li a {
    text-decoration: none;
    color: #fff;
}

main section.banner {
    height: 500px;
    background-image: url(../imagens/ilustra_banner.png);
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position:center;
}

main section.banner .container{
    display: flex;
    align-items: center;
    height: 500px;
    justify-content: flex-end;
}

main section.banner h1 {
    font-family: Raleway;
    color:#388E3c; 
    font-size: 40px;
    font-weight: 700;
    line-height: 47px;
    letter-spacing: 0em;
    text-align: left;
    padding: 0px 50px;
    
}

      /* 
main section.banner p {
    font-family: Raleway;
    color:black;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    padding: 0;
    align-self: center;
} */



footer {
    background-color: #388E3c;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    height: 285px;
    max-width: 100%;
}

footer .container {
    margin: 30px 35px;
    display: flex;
    align-items: center;
}

footer p {
    width: 500px;
    text-align: center;
}


footer .menu {
    Justify-content: end;
    text-align: left;
    text-decoration: none;
    display: flex;
    margin: 60px 35px;
}


footer .menu ul {
    list-style: none;
    
    
}

footer .menu ul li {
    font-family: Raleway;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    margin: 15px;
    
}

footer .menu ul li a {
    text-decoration: none;
    color: #fff;
}


footer p{
    font-family: Raleway;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
}
 
footer p{
    font-family: Raleway;
    font-size: 12px;
    font-weight: 700;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
}

.rodape {
    display: flex;
}

footer .agradecimento {
    width: 100%;
    text-align: center;
}