
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

body {
 margin: 0;
 padding: 0;
 font-family: 'Raleway', sans-serif;
}



* {
    box-sizing: border-box;
    /* garante que o elemento ocupa no maximo o espaço definido no width */
}
.container{
    box-shadow: 0px 4px 20px 0px #B4B4B4;
    height: 600px;

}
.container h2 {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    color:black ;
    
    font-size: 35px;
    font-weight: 700;
    line-height: 47px;
    letter-spacing: 0em;    
}
/*Planos*/
.plano1{
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    margin: 0;

    display: flex;
    text-align-last: center;
    justify-content: space-evenly;
}


.formulario {
    width: 300px;
    height: 600px;
    left: 50px;
    border-radius: 20px;
    border: 2px solid #757575;
    margin: 25px;
    float: left;
    padding: 15px;
}

.formulario h2 {
    color: #388E3C;
    font-size: 23px;
    text-align: center;
    font-family: Releway;
}

.formulario form input {
    width: 90%;
    border: 1px solid #757575;
    border-radius: 9px;
    padding: 7px;
    margin: 3px 0;
}


.form-plan {
    width: 288px;
    left: 1px;
    border-radius: 10px;
    border: 1px solid #757575;
    font-family: 'Raleway', sans-serif;
    margin:  0px;
    padding: 10px;

}


.formulario label {
    font-size: 16px;
    width: 70%;
    padding: 5px;
    margin: 3px 0;
    font-family: 'Raleway', sans-serif;
    left: 107px;
}

.formulario form button {
    font-size: 20px;
    background-color: #388E3C;
    color: #fff;
    border: 2px solid #388E3C;
    padding: 2px 80px;
    border-radius: 30px;
    font-family: 'Raleway', sans-serif;
    border-radius: 9px;
    margin:  12px;
    text-align: center;
}


a{
    text-decoration: none;
    font-family: Raleway;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
}
h4{
    font-family: Roboto Mono;
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 0em;
    text-align: left;
    line-height: 40px;
}
ul{
    height: 200px;
    top: 980px;
    left: 228px;
}
                      /*Borda de cada plano*/
div.primeira{
    border: 90px solid rgb(1, 1, 11);
    border-width: 3px;
    width: 250px;
    height: 500px;
}
div.segunda{
    border: 90px solid rgb(1, 1, 11);
    border-width: 3px; 
    width: 250px;
    height: 500px;
}
div.terceira{
    border: 90px solid rgb(1, 1, 11);
    border-width: 3px;
    width: 250px;
    height: 500px; 
}